* {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  }

  body {
      min-height: 100%;
      background-color: #ffffff;
  }
  h1 {
      letter-spacing: -1px;
  }
  a {
    color: #c71c1c;
    text-decoration: unset;
  }

  .logoclicknext{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

  .logo {
    width: 44px;
    height: 44px;
    display: block;
    margin: 0 auto;
    fill: var(--primary);
}
  .login-root {
      /* background: #fff; */
      background-image: url('https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZEq5BwnEytseElNvc23fx-qmxmYBE6XflR5ATsp2enUHPvVFlxeR-nHBW0VCAWYDS-VhatZsxie68wKPunbVMewCdkWha2Ll4=w1910-h885-rw-v1');
      background-size: cover;
      display: flex;
      width: 100%;
      min-height: 100vh;
      overflow: hidden;
  }
  .loginbackground {
      min-height: 692px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      overflow: hidden;
      /* backdrop-filter: blur(5px); */
  }
  .flex-flex {
      display: flex;
  }
  .align-center {
    align-items: center;
  }
  .center-center {
    align-items: center;
    justify-content: center;
  }
  .box-root {
      box-sizing: border-box;
  }
  .flex-direction--column {
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .box-divider--light-all-2 {
      box-shadow: inset 0 0 0 2px #e3e8ee;
  }

  .padding-top--64 {
    padding-top: 64px;
  }
  .padding-top--24 {
    padding-top: 24px;
  }
  .padding-top--48 {
    padding-top: 48px;
  }
  .padding-bottom--24 {
    padding-bottom: 24px;
  }
  .padding-horizontal--48 {
    padding: 48px;
  }
  .padding-bottom--15 {
    padding-bottom: 35px;
    color: #4066EA;
    font-size: 32px;
    font-weight: bold;
  }

  .font-text {
    color: #2C5EDD;
    font-size: 14px;
    font-weight: bold;
  }


  .flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .formbg {
    opacity: 0.85;
    margin: 40px auto;
    width: 100%;
    max-width: 448px;
    background: #FAF8FF;
    border-radius: 30px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 10px, rgba(0, 0, 0, 0.12) 0px 3px 6px 1px;

  }
  span {
      display: block;
      font-size: 20px;
      line-height: 28px;
      color: #1a1f36;
  }
  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }
  .grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }

  .field input {
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 6px 1px;
  }

  input[type="submit"] {
      background-color: rgb(84, 105, 212);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
                  rgb(84, 105, 212) 0px 0px 0px 1px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }

