
.color-card-wrapper{
    padding: 20px 20px 0px 100px ;
    background-color: white;
    border-radius: 10px;
    margin-right: 7%;
}


.flexbox-wrapper{
    /* margin-right: 80px; */
    height: 85vh;
    overflow-y: scroll;
}
.item-card{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;

}

#date_S, #date_E{
    font-size: 12px !important;

}


.flexbox-wrapper .card {
    padding:10px;
    display: block;
    box-sizing: border-box;
    width: 200px;
    height: 190px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-right: 20px;
}



.flexbox-wrapper h1 a i {
    font-size: 12px;
    right: -100px;

}

 .flexbox-wrapper a {
    color: rgb(85, 83, 83);
    font-size: 14px;
}

.size-content-date{
    width: 175px;
}

.size-content-icon{
    width: 20px;
}

.location{
    margin-bottom: 10px !important;
    margin-top: 0% !important;
}

.title{
    padding: 0% !important;
}

.col-icon-pen{
    padding: 0%;
    width: 30px;
}