@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    font-family: sarabun;
    margin: 0%;
    padding: 0%;
    background-color: #D0D5DD;
}

.show-formPrimary .profile {
    display: flex;
    justify-content: flex-end;
    background-color: #D0D5DD;
    padding: 10px;
}

.show-formPrimary .data{
    margin-left: 15%;
    max-height: 570px;
}

.show-formPrimary hr {
    margin: 0px !important;
    color: rgb(255, 255, 255) !important;
}

.show-formPrimary .header-container {
    background-color: rgb(255, 255, 255);
}


.show-formPrimary .page {

    position: fixed;
    top: 70px;
    /* Adjust this value to match the height of the sticky header */
    width: 60%;
    height: 60%;
    left: 30%;
    height: calc(100vh - 90px);
    /* Adjust this value to match the height of the sticky header */
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 3%;

}

.show-formPrimary .sidebar {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    overflow-x: hidden;
    padding-top: 0%;
    width: 280px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.show-formPrimary .label {
    height: 40px;
    width: 150px;
    background-color: #B3B3B3;
    text-align: center;
    border-radius: 20px;
    align-content: center;
}

.show-formPrimary .data-add {
    margin-bottom: 12%;
    margin-left: 20%;
}

.show-formPrimary .footer {
    position: absolute;
    bottom: 5%;
    left: 45%;
    width: 20%;
    text-align: center;
    border-radius: 21px;
}

.show-formPrimary #sent {
    width: 80%;
    height: 44pt;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 900;
    background-color: #FC5D83;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 30%;
}

.show-formPrimary #btn-back {
    width: 66px;
    height: 66px;
    background-color: #3687FF;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.show-formPrimary #btn-forward {
    width: 66px;
    height: 66px;
    background-color: #3687FF;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.show-formPrimary .back {
    height: 40px;
    width: 40px;
}

.show-formPrimary .go {
    height: 40px;
    width: 40px;
}

.show-formPrimary .arrow {
    display: flex;
    margin-left: 30%;
}

.show-formPrimary .heart {
    cursor: pointer;
    font-size: 24px;
    color: #8d8d8d;
    transition: color 0.3s;
    position: absolute;
    margin-top: -70%;
    margin-left: 80%;
    margin-bottom: 5%;

}

.show-formPrimary .heart.active {
    color: #ff0000;
    animation: heartbeat 2s;
}


@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}
